**1. Create some complex data structure variables such as list and data frames
using list() and data.frame commands.**

In [18]:
x=list(name="Jeff",gender="M",company="Data-Science")
x

$name
[1] "Jeff"

$gender
[1] "M"

$company
[1] "Data-Science"

In [2]:
df=data.frame(name=c("Jeff","Jonathan","Sebastian"),age=c(25,19,20),student=c(FALSE,TRUE,TRUE))
df

  name      age student
1 Jeff      25  FALSE
2 Jonathan  19   TRUE
3 Sebastian 20   TRUE

**2. Create data using data.frames, lists, and tables.**

In [4]:
elec=matrix(c(49,36,10,58,46,9,78,65,5),nrow=3,byrow=T)

colnames(elec)=c("High","Low","Middle")

rownames(elec)=c("Current","Former","Never")

#matrix to table
elec=as.table(elec)

elec

        High Low Middle
Current   49  36     10
Former    58  46      9
Never     78  65      5

**4. Explore data type conversions from one data structure to another with
commands such as as.data.frame(), as.vector(), is.data.frame(), is.vector; and find the data
type with class() command.**

In [5]:
player.runs=c(58,46,99,50,69)
player.names=c("Sachin","Yuvaraj","Dhoni","Kohli","Rahul")

In [6]:
as.integer(player.runs)

[1] 58 46 99 50 69

In [7]:
as.numeric(player.names)

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

[1] NA NA NA NA NA

In [8]:
as.character(player.names)

[1] "Sachin"  "Yuvaraj" "Dhoni"   "Kohli"   "Rahul"

In [9]:
class(player.names)
class(player.runs)

[1] "character"

[1] "numeric"

**5. Explore function programming in R.**

In [11]:
new.function=function(a){
    for(i in 1:a) {
        b=i*2
        print(b)
    }
}

new.function(6)

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10
[1] 12

**6. Explore loops in R programming such as if-else-ifelse, for, while, repeat-break.**

In [15]:
#for loop
x=c(5,7,9,3,1,4,2)
count=0
for(i in x){
    if(i%%4==0) count=count+1
}
print(count)

[1] 1

In [16]:
#if else
x=5
if(x>0){
    print("Non-negative number")
} else{
    print("Negative number")
}

[1] "Non-negative number"

In [17]:
#while loop
i=-1
while(i<6){
    print(i)
    i=i+1
}

[1] -1
[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5