**Q1. Explore assignment operators.**

In [2]:
x=20
x

y=30
y

[1] 20

[1] 30

**Question 2. Arithmetic Operators : Addition, Substration, Multiplication and Division**

In [4]:
a=x+y
a

b=x-y
b

c=x*y
c

d=x/y
d

[1] 50

[1] -10

[1] 600

[1] 0.6666667

**Create vectors using c(), seq(), rep(), colon operator**

In [6]:
x=c(100,200,300,400,500)
x
y=seq(1,10,by=0.5)
y
z=10:20
z
q=rep(50,10)
q

[1] 100 200 300 400 500

 [1]  1.0  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0  5.5  6.0  6.5  7.0  7.5  8.0
[16]  8.5  9.0  9.5 10.0

 [1] 10 11 12 13 14 15 16 17 18 19 20

 [1] 50 50 50 50 50 50 50 50 50 50

**Create different matrices using matrix() operator and explore its rows, columns, and
diagonals.**

In [8]:
x=matrix(1:16,nrow=4,ncol=4)
x

     [,1] [,2] [,3] [,4]
[1,] 1    5     9   13
[2,] 2    6    10   14
[3,] 3    7    11   15
[4,] 4    8    12   16

In [9]:
y=matrix(1:16,nrow=4,ncol=4,byrow=T)
y

     [,1] [,2] [,3] [,4]
[1,]  1    2    3    4
[2,]  5    6    7    8
[3,]  9   10   11   12
[4,] 13   14   15   16

**Perform different basic operation of matrices on above created matrices**

In [11]:
x=cbind(c(10,20,30),c(50,60,70))
x
dim(x)

y=rbind(c(10,20,30),c(50,60,70))
y
dim(y)

     [,1] [,2]
[1,] 10   50
[2,] 20   60
[3,] 30   70

[1] 3 2

     [,1] [,2] [,3]
[1,] 10   20   30
[2,] 50   60   70

[1] 2 3

**Create single and multidimensional arrays with array() command**

In [16]:
v1=c(4,2,0)
v2=c(1,3,5,6,7,8)
v1
v2

result=array(c(v1,v2),dim=c(3,3,2))
print(result)

[1] 4 2 0

[1] 1 3 5 6 7 8

, , 1

     [,1] [,2] [,3]
[1,]    4    1    6
[2,]    2    3    7
[3,]    0    5    8

, , 2

     [,1] [,2] [,3]
[1,]    4    1    6
[2,]    2    3    7
[3,]    0    5    8

In [17]:
result1=array(c(v1,v2),dim=c(3,3))
print(result1)

     [,1] [,2] [,3]
[1,]    4    1    6
[2,]    2    3    7
[3,]    0    5    8

**Explore length(), dim(), ncol(), nrow() operators on above matrices and arrays.**

In [19]:
x=matrix(1:100,nrow=10,ncol=10,byrow=T)

dim(x)
length(x)

[1] 10 10

[1] 100

In [21]:
nrow(x)
ncol(x)

[1] 10

[1] 10

**Explore commands for Selecting and extracting elements from above matrices and arrays.**

In [22]:
x=matrix(1:9,nrow=3,ncol=3,byrow=T)
x

x[1,2]

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

[1] 2

In [23]:
x[3,3]

[1] 9

In [24]:
x[,1]

[1] 1 4 7

In [25]:
x[2,]

[1] 4 5 6

In [26]:
y=c(10,55,66,44,11,21)
y[3]
y[5]

[1] 66

[1] 11

**Explore logical operators from R programming language.**

In [28]:
x=c(TRUE,FALSE,0,6)
y=c(FALSE,TRUE,FALSE,TRUE)

!x

[1] FALSE  TRUE  TRUE FALSE

In [29]:
x&y

[1] FALSE FALSE FALSE  TRUE

In [30]:
x&&y

[1] FALSE

In [31]:
x|y

[1]  TRUE  TRUE FALSE  TRUE

In [32]:
x||y

[1] TRUE

**Remove elements from selected positions from a considered matrix.**

In [33]:
x=matrix(1:9,nrow=3,ncol=3,byrow=T)
x

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [35]:
x[,-3]

     [,1] [,2]
[1,] 1    2
[2,] 4    5
[3,] 7    8

In [37]:
x[-3,]

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6